QDialog,
QWidget[form='true'] {
    border: 0;
    margin: 0;
    padding: 0;
}

QWidget[header='true'] {
    border: 0;
    margin: 0;
    padding: 0;
    background: rgb(45, 45, 45);
}

QLabel[title='true'] {
    font: 14pt "Arial";
}

QLabel[description='true'] {
    font: 10pt "Arial";
}

QLabel{
    font: 10pt "Arial";
}

QLabel[valid='false']{
    color: rgb(255, 50, 50);
}

QLabel[err='true']{
    font: 8pt "Arial";
    color: rgb(255, 50, 50);
}

QLabel[clickable='true']:hover{
    font: 10pt "Arial";
}

QPushButton{
    height: 24;
}

QPushButton[grouptitle='true']{
    background: rgb(68, 68, 68);
    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-align: left;
    font: 10pt "Arial";
}

QPushButton[grouptitle='true']:hover{
    background: rgb(55, 55, 55);
    border-radius: 0;
}

QPushButton[grouptitle='true']:pressed{}

QWidget[groupwidget='true']{
    background:  rgb(55, 55, 55);
}

QComboBox {
    padding-left: 13;
    height: 30;
}

QLineEdit{
    font: 10pt "Arial";
    height: 30;
    padding-left: 10;
}
